<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.camment.cammentdemo">

    <application
        android:name=".CammentDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/cmmsdk_ic_launcher"
        android:label="@string/cmmsdk_demo_app_name"
        android:supportsRtl="false"
        android:theme="@style/CammentSdkAppTheme.FullScreen">

        <meta-data android:name="tv.camment.cammentsdk.ApiKey"
            android:value="Zxp1xJXY9ya6MUovcRkiD6lufkg51fhw2x3ATSvi" />

        <activity
            android:name=".CammentDemoMainActivity"
            android:theme="@style/CammentSdkAppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="tv.camment.cammentsdk.data.DataProvider"
            android:authorities="${applicationId}.cammentsdk"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>