<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.camment.cammentdemo">

    <application
        android:name=".CammentApp"
        android:allowBackup="true"
        android:icon="@mipmap/cmmsdk_ic_launcher"
        android:label="@string/camment_demo_app_name"
        android:supportsRtl="false"
        android:theme="@style/CammentSdkAppTheme">
        <meta-data
            android:name="tv.camment.cammentsdk.ApiKey"
            android:value="@string/camment_api_key" />

        <activity
            android:name=".CammentSplashActivity"
            android:theme="@style/CammentSdkAppTheme.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".CammentShowsActivity"
            android:label="@string/camment_shows"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="camment" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CammentMainActivity"
            android:theme="@style/CammentSdkAppTheme.FullScreen" />

        <provider
            android:name="tv.camment.cammentsdk.data.DataProvider"
            android:authorities="${applicationId}.cammentsdk"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3873341e3f4c0e07e90eed824b871d04e5d10947" />
    </application>

</manifest>